﻿﻿inject NavigationManager nav

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(_Layout)" />
    </Found>
    <NotFound>
        <LayoutView>
            <p>抱歉，此地址没有任何内容。</p>
        </LayoutView>
    </NotFound>
</Router>